/* SYNTACTICALLY AWESOME STYLESHEETS - Element Styling - by Richard Rembert */



/* change from sass to css; makes the browser able to understand the style; must be done in the command (ruby) */
/* sass SASS.scss CSS.css */

/* SASS and SCSS only difference is in the use or not of '{}' and ',' */

/* comment written with double slash // will not be compiled in the css code; they are sass specific */


.NESTING-SELECTORS {
  .parent { /* .parent */
    width: 100px;
    .child { /* .parent .child */
      width: 50px;
      &.child-one { /* .parent .child.child-one */
        width: 40px;
      }
    }
  }
}


.NESTING-PROPERTIES {
  border : {
    top: 2px solid black; /* border-top */
    bottom: 1px solid grey; /* border-bottom */
  }
}


.VARIABLES {
  $translucent-white: rgba(255,255,255,0.3);
  $translucent-white: rgba(256,256,256,0.1) !default; /* !default makes sure it will not override previous variable */
  background-color: $translucent-white;
  $header-height: 200px;
  height: $header-height;
  $main-font: 12px Arial bold;
  font: $main-font;
  $side: top;
  #{$side}: 10px; /* top: 10px; */
}


.NESTING-PSEUDO-ELEMENTS {
  div {
    color: red;
    &:hover: { /* div:hover */
      color: blue;
    }
  }
}

.AVOID-NESTING {
  div {
    color: red;
    @at-root body { /* body */
      color: black
    }
  }
}
